* {
  font-family: Helcetica;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
}
:root {
  --color-orange: #f6982d;
}

/* NAVBAR */

#logo img {
  height: 40px;
}

#navbar {
  padding: 1.2em 1.4em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  border-bottom: 1px solid var(--color-orange);
}

#navbar ul {
  display: flex;
  list-style-type: none;
}

#navbar li {
  margin-left: 1em;
}

#navbar ul li a {
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;
}

#navbar ul li a:hover {
  color: var(--color-orange);
}

/* CONTAINER */

.container {
  min-height: 60vh;
  padding: 2em;
}

/* FOOTER */

footer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--color-orange);
  font-size: 1.5em;
}

footer span {
  font-weight: bold;
  color: var(--color-orange);
}
